@charset "utf-8";

/* JetBrains Mono Nerd Font */

@font-face {
  font-family: "JetBrains Mono Nerd";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
}